.main-nav {
  list-style-type: none;

  &__link {
    display: inline-block;
    margin: 0.3rem;

    & a {
      text-decoration: none;
    }

    & a:hover {
      border-bottom: 1px dashed #666;
    }
  }
}
